body {
  background: #F6F1F1;
}

.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.Menu {
  height: 450px;
  width: 450px;
  background: #2D2727;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Menu button {
  height: 50px;
  width: 200px;
  background: #d8d8d8;
  color: #292727;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  font-size: 19px;
}
